*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: cornsilk;
}
table{

    width: 98%;
    border-collapse: collapse;
    margin-top: 3%;
    margin-left: 1%;
  
}
table td, th{
    padding: 5px;
    text-align: center;
    vertical-align: top;
    border: 1px solid #000;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}
h2{
    text-align: center;
    margin-top: 1%;
}
a{
    float: none;
    padding: 0.3%;
    text-decoration: none;
    border-radius: 5px;
    color: black;
    background-color: #F7571A;
    margin-left: 47.5%;
}
div{
    background-color: white;
}